#list {
  width: 50%;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

#list td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.leftSideTD {
  color: #003da5;
}

@media only screen and (max-width: 768px) {
  #list {
    width: 100%;
  }
}
