.fixedNavPadding{
    padding-top:50px;
}



/* Small devices (portrait tablets and large phones, 600px and up) */



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .carouselImage{
    height:300px;
  }


}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
.carouselImage{
  height:225px;
}

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}
