.feature-strip {
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.46);
  border-radius: 0px;
  margin: 1.88em auto;
  width: 83%;
  position: relative;
}

.featureStrip__caption-wrap {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 0.88em;
  margin: 0.88em auto 1em;
  margin-bottom: 40px;
  text-align: left;
  width: 88%;
}

.strip-image {
  text-align: center;
  margin: 1.88em auto;
  width: 88%;
  box-shadow: inset 1px 1px 7px rgba(0, 0, 0, 0.46);
  background: #757f9a;
  background: -webkit-linear-gradient(
    to right,
    rgba(45, 112, 181, 0.7),
    rgba(83, 168, 220, 0.7)
  );
  background: linear-gradient(
    to right,
    rgba(45, 112, 181, 0.7),
    rgba(83, 168, 220, 0.7)
  );
}

.feature-strip-button {
  margin: 15px auto;
  font-size: 1.5em;
  border: black;
  width: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  background: #757f9a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    rgba(45, 112, 181, 0.7),
    rgba(83, 168, 220, 0.9)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    rgba(45, 112, 181, 0.7),
    rgba(83, 168, 220, 0.9)
  );
}

h2 {
  font-size: 2em;
}

p {
  font-size: 1.4em;
}

/* Extra small devices (phones, 600px and down) */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 576px) {
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 993px) {
}
