.stripWrap{
  display:flex;
  justify-content:space-between;
  padding: 1.5em;
  margin:2em;
  margin-bottom:2.5em;
}

.captionWrap{
  width:60%;
  display:flex;
  flex-direction:column;
  margin-top:30px;
  margin-left: 1.5em;
  padding:1.5em;
  text-align:center;
}

.stripImage{
  text-align:right;
  margin: 0 auto;
  width:30%;
  height:50%;
}

.featureStripButton{
  width: 50%;
  margin: 15px auto;
  font-size:1.5em;
}

h2{
  font-size:2.7em;
}

p{
  font-size:1.5em;
}
