.stripWrap{
  display:flex;
  justify-content:space-between;
  padding: 1.5em;
  margin:2em;
  margin-bottom:2.5em;
}

.captionWrap{
  margin: 3.3em auto;
  margin-bottom: 40px;
  text-align:left;
}

.stripImage{
  text-align:center;
  margin: 3.3em auto;
  width:100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);

}

.featureStripButton{
  margin: 15px auto;
  font-size:1.5em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);

}

.fullCard{
  display:flex;
}

.fullCardWrap{
  width:100%;
}

h2{
  font-size:2.7em;
}

p{
  font-size:1.5em;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
  .featureRowR{
    flex-direction: column-reverse;
  }

  .stripImage{
    align-items:center;
    margin:2em auto;
    width:200px;
    border-radius:50%;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 576px) {
  .featureRowR{
    flex-direction: column-reverse;
  }

  .stripImage{
    align-items:center;
    margin:2em auto;
    width:200px;
    border-radius:50%;
  }

  .featureStripButton{
    width:90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .featureRowR{
    flex-direction: column-reverse;
    align-items:center;
  }

  .captionWrap{
    text-align:center;
    margin-top:0px;
  }

  .imageWrap{
    text-align:center;
  }

  .stripImage{
    align-items:center;
    margin:2em auto;
    width:200px;
  }

  .featureRowR > img{
    width:100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
  .stripImage{
    align-items:center;
    margin:2em auto;
    width:400px;
  }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 993px) {
  .stripImage{
    align-items:center;
    margin:2em auto;
    width:400px;
  }

}
