.form-button-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.fullScreen-display {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  padding-top: 1.88em;
  padding-bottom: 1.88em;
  position: relative;
  text-align: center;
  width: 100%;
}

.fullScreen-card {
  width: 88%;
  z-index: 2;
  font-family: "Roboto Condensed", sans-serif;
  margin: 3em auto 1em;
  color: rgb(15, 47, 86);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  padding: 2.88em 3em 1.88em;
  background: white;
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.fullScreen-card h1,
h2 {
  margin-bottom: 0.7em;
}

.fullScreen-card-header-image {
  width: 88%;
  margin: 0em auto 1em;
}

.launch-image {
  width: 100%;
}

.info-button {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  color: white;
  font-size: 1.3em;
  font-weight: 800;
  width: 100%;
  margin: 0.44em auto;
  padding: 0.3em 0.7em;
}

.take-off-button {
  background-color: rgba(237, 185, 98);
  background: radial-gradient(
    circle,
    rgba(247, 209, 144, 1) 0%,
    rgba(237, 185, 98, 1) 100%
  );
  border: black;
}

.take-off-button:hover {
  box-shadow: 0px 0px 15px rgba(237, 234, 98, 1);
}

.learn-more-button {
  background: #757f9a;
  background: -webkit-linear-gradient(
    to right,
    rgba(45, 112, 181, 0.7),
    rgba(83, 168, 220, 0.7)
  );
  background: linear-gradient(
    to right,
    rgba(45, 112, 181, 0.7),
    rgba(83, 168, 220, 0.7)
  );
  border: black;
}

.fullScreenHeader__main-title {
  font-size: 2em;
  margin: 0em auto 1em;
  font-weight: 800;
  color: rgba(45, 112, 181, 1);
}

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 576px) {
}

@media only screen and (max-width: 768px) {
}

@media only screen and (max-width: 992px) {
}

@media only screen and (min-width: 993px) {
}
