.intro {
  font-size: 1.2em;
  margin: 0px 0px 70px 0px;
  font-family: "Montserrat", sans-serif;
}

.gallery {
  display: flex;
}

.galleryImages {
  width: 30%;
  margin: 10px;
}

.btn-primary {
  background-color: rgb(0, 61, 165);
  border-color: rgb(0, 61, 165);
  padding: 20px 40px;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  width: 80%;
  margin: 0 auto;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.videoHolder {
  width: 100%;
  margin: 0px;
}

@media only screen and (max-width: 768px) {
  .galleryImages {
    width: 40%;
  }
}

.arrow {
  display: block;
  width: 60%;
  padding-bottom: 0px;
  margin: 0 auto;
  margin-bottom: 0px;
}

.threeDLink {
  color: blue;
  margin-bottom: 25px;
}
