.headerBox {
  width: 100%;
  background: url("../images/home1.jpg"), rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 0px;
  background-position: center;
  padding-top: 250px;
  font-family: "Montserrat", sans-serif;
}

.jumboBottom {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  background-color: rgba(0, 61, 165, 0.7);
  margin-top: 100px;
}

.jumboBottomNum {
  font-weight: 800;
  font-size: 1.4em;
}

.money {
}

.address {
  font-size: 1.3em;
  margin: 30px;
}

.topAddress {
  font-size: 1.5em;
}

.business {
  margin: 30px;
}

.removeUnderline {
  text-decoration-line: none;
}

.homeTour {
  margin-top: 30px;
}

.buttons {
  display: flex;
  width: 320px;
  margin: 0 auto;
  flex-direction: column;
}

@media only screen and (max-width: 768px) {
  .headerBox {
    padding-top: 150px;
  }
}
