.formWrap{
  width:60%;
  margin:40px auto;
}

.homeFormText{
  font-size: 1.5em;
}

.formSubmitButton{
  width: 30%;
  margin: 15px auto;
  font-size:1.5em;
}

.homeFormTextWrap{
  text-align:center;
}

.homeFormTextWrap label{
  text-align:left;
}

/* Small devices (portrait tablets and large phones, 600px and up) */



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .formWrap{
    width:90%;
  }

  .formSubmitButton{
    width:90%;
  }

  .formSubmitButtonWrap{
text-align:center;  }

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
.carouselImage{
  height:225px;
}

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}
