.formWrap{
  width:50%;
  margin:0px auto;
  padding: 3.5em 4.5em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
  background-color: white;
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);

}

.formFullWrap{
  background: #757F9A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, rgba(45, 112, 181, .7), rgba(83, 168, 220, .7));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, rgba(45, 112, 181, .7), rgba(83, 168, 220, .7)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-bottom: 2em;
}

.homeFormText{
  font-size: 1.5em;
}

.formSubmitButton{
  width: 30%;
  margin: 15px auto;
  font-size:1.5em;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.homeFormTextWrap{
  text-align:center;
}

.homeFormTextWrap label{
  text-align:left;
}

.form-group{
  text-align:left;
}

/* Small devices (portrait tablets and large phones, 600px and up) */



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .formWrap{
    width:90%;
    padding:2.7em;
  }

  .formSubmitButton{
    width:90%;
  }

  .formSubmitButtonWrap{
text-align:center;  }

}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 576px) {
.carouselImage{
  height:225px;
}

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {


}
