.formWrap{
  width:60%;
  margin:40px auto;
}

.homeFormText{
  font-size: 1.5em;
}

.formSubmitButton{
  width: 30%;
  margin: 15px auto;
  font-size:1.5em;
}

.homeFormTextWrap{
  text-align:center;
}
