.homePage {
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  text-align: center;
}

canvas {
  display: block;
  position: fixed;
  z-index: -10;
}

.headerLogo {
  width: 40%;
  margin: 30px 30%;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  background: #757f9a;
  background: -webkit-linear-gradient(
    to right,
    rgba(45, 112, 181, 1),
    rgba(83, 168, 220, 1)
  );
  background: linear-gradient(
    to right,
    rgba(45, 112, 181, 1),
    rgba(83, 168, 220, 1)
  );
  background-position: center;
}

.features {
  margin: 0px;
}

/* .featureWrap {
  padding: 2em 0px;
} */
