.jumbotron{
  width: 70%;
  margin: 4em auto;
  text-align:left;
  background: radial-gradient(circle, rgba(195,232,255,.3) 60%, rgba(83,179,220,.4) 100%);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.titleText{
  text-align:center;
  width:100%;
  font-size:3em;
  margin-bottom: .5em;
}

.subTitleText{
  text-align:center;
}

.jumbotronDetails{
  margin: 2em auto;
  line-height: 2em;
  padding: 0em 2em;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 576px) {
  .jumbotron{
    width:85%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 993px) {


}
