.signIn{
  position:absolute;
  right: 30px;
}

.fixed{
  position:fixed;
  z-index:5;
  width: 100%;
}

.transparent {
  background: rgba(255,255,255,.8);
}

.fullTransparent{
  background: rgba(255,255,255,0)
}
