.signIn{
  position:absolute;
  right: 30px;
}

.fixed{
  position:fixed;
  z-index:5;
  width: 100%;
}

.transparent {
  background: rgba(255,255,255);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.46);
}

.fullTransparent{
  background: rgba(255,255,255,0)
}

.logo{
  box-shadow: 0px 0px 0px 0px;
}
