.pricing{
  margin-top:3em;
  margin-bottom:3.5em;
}

.card{
  text-align:center;
}

.comingSoon{
  background-color: rgba(0,0,0,.5);
  position:absolute;
  z-index: 2;
  width:90%;
  border-radius:7px;
  height:100%;
}
