.signin-form-wrap {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to right,
    rgba(45, 112, 181, 0.7),
    rgba(83, 168, 220, 0.7)
  );
}

.signin-form {
  width: 88%;
  padding: 4em 1em;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.46);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}

.logo {
  width: 300px;
  margin-bottom: 2em;
}

.inputWidthTemp {
  width: 300px;
}

.signInButton {
  margin: 1em;
}

.loggedInScreen {
  background: linear-gradient(
    to right,
    rgba(45, 112, 181, 0.7),
    rgba(83, 168, 220, 0.7)
  );
  color: white;
  text-align: center;
  height: 100vh;
}

.firebaseUserImage {
  border-radius: 50%;
  width: 50%;
  margin-bottom: 2em;
  margin-top: 2em;
}
