.App {
  text-align: center;
  background-color: black;
  background-image: url("paper.gif");
  height: 100vh;
  color: white;
}

.App-logo {
  height: 100vh;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
